@{
    ViewBag.Title = "Index";
}
@{
    List<long> numbers = ViewBag.Numbers;
    int? number = ViewBag.Number;
}


<form method="post">

    <input type="text" id="txtCount" name="txtCount" value="@((number == null) ? number : number.Value)" />


    <input type="submit" value="Get numbers!" />
</form>

@if (numbers != null)
{
    foreach (var num in numbers)
    {
        <div>@num</div>
    }
}